*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  color: hsl(210, 60%, 48%);
}

.uppercase {
  text-transform: uppercase;
}

.m0 {
  margin: 0;
}

.spacer {
  height: 2rem;
}
.spacer--2 {
  height: 4rem;
}

.slides {
  padding: 40px;
  text-align: center;
  background-color: #161616;
  color: #f0f0f0;
  font-weight: 700;
}

.slides-link {
  color: #d6fb41;
}

.container {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  padding: 4rem 1rem;
}
.container--skew {
  transform: skewY(-1deg);
}

.section--colored {
  transform: skewY(1deg);
  background-color: hsl(210, 100%, 95%);
}

.title {
  text-transform: uppercase;
  font-size: 1rem;
}

.social {
  display: flex;
}
.social-profile {
  display: flex;
  align-items: center;
}
.social-profile + .social-profile {
  margin-left: 1rem;
}
.social-profile > span {
  margin-left: 0.25rem;
}

.text--highlight {
  font-size: 1.4rem;
  color: hsl(0, 0%, 20%);
}
.text--disclaimer {
  font-size: 1rem;
  font-style: italic;
}
.text--regular {
  font-size: 1.2rem;
  color: hsl(0, 0%, 20%);
}
.text--medium {
  font-weight: 500;
}
.text--bold {
  font-weight: 700;
}

.tech {
  position: relative;
  padding: 0 0.125rem;
}
.tech--js {
  background-color: hsla(54, 93%, 53%);
  color: black;
}
.tech--ts {
  background-color: hsl(211, 60%, 48%);
  color: white;
}
.tech--react {
  background-color: hsla(193, 95%, 68%);
  color: black;
}
.tech--next {
  background-color: rgba(0, 0, 0);
  color: white;
}
.tech--node {
  background-color: hsla(119, 100%, 22%);
  color: white;
}
