*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
  margin: 0;
  
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
		Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

a {
  color:hsl(211, 60%, 48%);
}

.spacer {
  height: 2rem;
}
.spacer--2 {
  height: 4rem;
}

.container {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  padding: 4rem 1rem;
}

.title {
  text-transform: uppercase;
  font-size: 1rem;
}

.social {
  display: flex;
}
.social-profile {
  display: flex;
  align-items: center;
}
.social-profile+.social-profile {
  margin-left: 1rem;
}
.social-profile>span {
  margin-left: .25rem;
}

.text--highlight {
  font-size: 1.4rem;
  color: hsl(0, 0%, 20%);
}
.text--disclaimer {
  font-size: 1rem;
  font-style: italic;
}
.text--regular {
  font-size: 1.2rem;
  color: hsl(0, 0%, 20%);
}
.text--medium {
  font-weight: 500;
}
.text--bold {
  font-weight: 700;
}

.tech {
  position: relative;
  color: inherit;
}
.tech::after {
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: -.125rem;
  content: '';
  width: 100%;
  height: 1rem;
  background-color: hsla(180, 55%, 55%, 0.25);
}
.tech--js::after {
  background-color: hsla(54, 93%, 53%, .25);
}
.tech--ts::after {
  background-color: hsl(211, 60%, 48%, .25);
}
.tech--react::after {
  background-color: hsla(193, 95%, 68%, .25);
}
.tech--next::after {
  background-color: rgba(0, 0, 0, 0.25);
}
.tech--node::after {
  background-color: hsla(119, 100%, 22%, .25);
}

.horizontal-rule {
  border-bottom: 1px solid hsl(211, 60%, 10%);
}
